.headerRow{
	padding: 0px 0px;
	background-color: white;
	border-radius: 0px !important;
	border: 1px solid #0e151d40;
	margin-top:0px !important; 
}
.headerRow1{
	text-align: left;
	background-color: #ffffff;
	border-left:1px solid #0e151d40;
	border-right:1px solid #0e151d40;
}
.borderBottom{
	border-bottom: 1px solid #c2cfd6;
}
.borderNone{
	border:none;
}
.headerRow2{
	text-align: left;
	background-color: #e4e5e640;
	border-left:1px solid #0e151d40;
	border-right:1px solid #0e151d40;
}

.headerRow3{
    text-align: left;
	border-bottom:1px solid #0e151d40;
	margin-bottom: 50px;
}

#interfaceList{
	padding: 0px 20px !important;
	max-height: 200px;
	overflow: auto;
}

.head-name{
	font-weight: 600;
	font-size: 15px;
	padding: 10px 0px;
	text-align: left;
}

.head-name-light{
	font-weight: 400;
	font-size: 15px;
	padding: 10px 0px;
	text-align: left;
}

.tableTitle {
	font-weight: semi-bold;
	font-size: 18px;
	margin-bottom:10px;
	padding: 10px 15px;
	text-align: left;
	background-color: #e4e5e640;
}

.tableOutlineNone {
	outline: none !important;
	z-index: 0 !important;
}

.tableBorderNone {
	outline: none !important;
	border: none !important;
	z-index: 0 !important;
}

.list-group-item {
	background-color: transparent !important;
	border: none !important;
}

.fixedDataTableCellLayout_main {
    border-right-style: none !important; 
    border-right-width: 1px;
    border-width: 0 1px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    position: absolute;
    white-space: normal;
}



.custBtn{
	background-color: white  !important;
	border-radius: 6px  !important;
	border: 1px solid #4f908e  !important;
	margin-bottom: 10px !important;
	margin-right: 10px  !important;
	color: #4f908e !important;
	
}


.custFillBtn{
	color: white  !important;
	border-radius: 6px  !important;
	border: 1px solid #4f908e  !important;
	margin-bottom: 10px !important;
	margin-right: 10px  !important;
	background-color: #4f908e !important;
	
}

.form-check-input {
	margin-top: 0.7rem !important;
}


#register,#forgotpassword,#logInBtn{
	display: none;
}

.custBtn:hover{
	background-color: #4f908e  !important;
	color: white !important;
}

.modal-content{
	top:10rem !important;
}

.disabledBtn{
	background-color: white  !important;
	border-radius: 6px  !important;
	border: 1px solid #4f908e  !important;
	padding: 10px  !important;
	margin-bottom: 10px !important;
	margin-right: 10px  !important;
	color: #4f908e !important;
	
	cursor: not-allowed !important;
	
}

.nav a:hover{
	background-color: #4f908e !important;
	color: white;
}

.breadcrumb a{
	color: #4f908e !important;
}


.sidebar .nav-link.active i {
	color: #536c79 !important;
}

:disabled{
	cursor: not-allowed !important;
	border: 1px solid #4f908e  !important;
	color: #4f908e !important;
	opacity: 0.5 !important;
}

.borRad{
	border-bottom-left-radius: 8px !important;
    border-top-left-radius: 8px !important;
}

.borRadLeft{
	border-bottom-left-radius: 8px !important;
    border-top-left-radius: 8px !important;
}

.borRadRight{
	border-bottom-right-radius: 8px !important;
	border-top-right-radius: 8px !important;
	content: "\f002";
}

.boxBorder{
	border:1px solid #a4b7c1;
	border-radius: 6px;
	padding: 10px 0px;
}

.overflow {
    position: absolute;
    z-index: 1000;
}

.srNo{
    font-weight: 400;
	font-size: 15px;
    color:#191a1b9c ; 
}

.edit{
    font-size: 25px;
    font-weight: 600;
}

.dispIn{
    display: inline;
}
.wid{
    width: 250px !important;
}
.fa-arrow-left{
    font-size: 15px;
    color: #191a1b9c;
}

.main .container-fluid {
    padding: 0 50px !important;
}


.posRight{
    position: relative;
    left:30px;

}

.linuxBox{
	display:inline-block;
	width:49%;
	margin-right:10px;
	padding:10px;
	border:1px solid #a4b7c1;
	border-radius: 6px;
}

.cursor-pointer{
	cursor: pointer;
}


/* margin classes start*/

.marginLeft13N{
	margin-left: -13px !important;
}

.marLeft10{
    margin-left:10px;
}
marRight10{
	margin-right: 10px; 
}

.marLeft40 {
    margin-left: 40px !important;
}

.marRight40 {
    margin-right: 40px !important;
}
.marTop10{
	margin-top:10px !important;
}

.marTop20{
	margin-top:20px;
}

.marTop30{
	margin-top:30px;
}

.marTop40{
	margin-top:40px;
}

.marBot5pc{
	margin-bottom:5%;
}

.marBot30{
	margin-bottom:10px;
}

/* margin classes end*/

/* Padding classes start */

.pad{
	padding: 10px 15px;
}
.padTop5{
	padding-top: 5px;
}

.padTop30{
    padding-top: 30px;
}
.padTop50{
    padding-top: 50px; 
}

/* Padding classes end */


.form-control:disabled{
    background-color: white !important;
	cursor: not-allowed !important;
}	

.break-word{
	word-wrap: break-word;
}

.disappear{
	-webkit-animation: mymove 1; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
	animation: mymove 1;
	animation-duration: 3s;
	animation-fill-mode: forwards
}

.visibleOnHover{
	white-space: nowrap; 
	overflow: hidden;
	text-overflow:ellipsis;
}
.visibleOnHover:hover{
	overflow: visible;
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
from {opacity: 1;}
to {opacity: 0;}
}

@keyframes mymove {
from {opacity: 1;}
to {opacity: 0;}
}

/* For firefox checkbox column */
@-moz-document url-prefix() {
	.form-check-input {
		position: absolute;
		margin-top: 0.3rem;
		margin-left: 0rem !important;
	}
  }

.head-check{
	font-weight: 600;
	font-size: 15px;
	padding: 10px 0px;
	text-align: center;
}  

/* SCRLLBAR CSS START */

/* width */
::-webkit-scrollbar {
    width: 5px;
  
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 1px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 1px;

}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4f908e; 
}
/* SCRLLBAR CSS END */

.equiSpace {
	display: flex;
	align-content: space-around;
}

.equiSpace > div {
	flex: 1;
	margin-top: 20px;
}

.modal-content {
    top: 5rem !important;
}